.frase{
    font-size: 20px;
}

.campo-digitacao{
    font-size: 20px;
    height: 130px;
}

.campo-desativado{
    background-color: lightgray;
}

.icones{
    vertical-align: middle;
}

.campo-verde{
    border: 3px solid rgb(0, 255, 0);
}

.campo-vermelho{
    border: 3px solid rgb(255, 0, 0);
}

.placar{
    display: none;
}

.body{
    overflow: scroll;
}

#erro{
    color: red;
    display: none;
}

#spinner{
    display: none;
}

#frase-id{
    width: 50px;
}

#botao-sync{
    float: right;
}

.select-usuarios{
    display: inline-block;
}

#usuarios{
    display: block;
}

.selectize-input{
    width: 150px;
    vertical-align: middle;
}